body {
    background: linear-gradient(45deg, #a8c686,#71a9f7);
}
h1 {
    text-align: center;
    text-shadow: 2px 1px black;
}
input {
    text-align: center;
}
ul {
    text-align: center;
}
li {
    text-align: center;
}