h1 {
    text-align: center;
    color:#d5bf86
}

h2 {
    text-align: center;
}

iframe {
    text-align: center;
    text-shadow: 2px 2px;
}

body {
    background-color:#ece2d0;
}
div {
    background-color:#ece2d0 ;
    color:#4e3822;
}
img {
    
}